
body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #191e0a;
    background: #FAFCF5 url(images/bouteille.png) no-repeat fixed bottom right;
}

header, main, footer {
    width: 1024px;
    margin: 20px auto;
    padding: 10px;
    border: 4px inset #99dd94;
    background-color: #fff;
}



h1 {
    font: small-caps 2.5em/2.1em "Bauhaus 93", 'futura', sans-serif;
    text-transform: capitalize;
    text-align: center;
    word-spacing: 20px;
    background-color: #a1c64c;
}

h2 {
    font-style: oblique;
    font-weight: bold;
    color: #191e0A;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.8em;
    background-color: #99dd94;
    margin: 20px 10%;
}

h4 {
    color: #65CE6F;
}

h3 {
	color: #191e0A;
}


h3 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border-width: 3px;
    border-color: #65ce6f;
    border-style: double;
    width: 600px;
    height: 40px;
    margin: 20px auto;
    padding: 12px 0 0;
}
	

h4, dl {
    text-indent: 20px;
    border-left: 4px solid;
    border-bottom: 2px solid;
    margin-top: 20px;
    margin-right: 70%;
}



blockquote {
    color: #191E0A;
    background-color: #65ce6f;
    text-align: center;
    margin: 2px 180px;
    padding: 20px 40px;
    border-left: 6px double white;
    border-right: 6px double white;
}









ul ul {
    list-style: square none;
    font-variant: small-caps;
}



a:link, a:visited {
    color: #191E0A;
}

article > p > a:link {
    background-color: rgb(255, 0, 208);
    text-decoration: none;
}

ul a:any-link {
    font-size: 1.2em;
    line-height: 1.5em;
}



h3 + p {
    text-align: center;
    font-size: 0.9em;
}



hr {
    clear: both;
}


header {
    padding-bottom: 15px;
}
